/* Header CSS */
h2{
    font-family: 'Bodoni Moda', cursive;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

/* Navbar CSS */

/* Carousel CSS */

/* img CSS*/

/* Card(s) CSS */

/* Pages CSS*/
.article-container{
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 5%;
}
.article-header{
    margin-bottom: 2rem;
}
.category{
    color: #8b4513;
    font-size: 0.75rem ;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    margin-bottom: -1rem;
    display: block;
}
h1{
    font-family: times new roman, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.article-meta{
    color: #6b6b6b;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/*Contact us Page*/

/*Footer CSS */