header h2{
    font-family: 'Vollkorn', 'Bodoni Moda', cursive;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter:  brightness(0.6);
}
